* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

span {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  margin-left: 3%;
}

.inline_bl {
  display: inline-block;
}

.nav_bar {
  width: 100%;
  height: 70px;
  background-color: #AD2020;
  border-bottom: 8px solid #5A0505;
  position: fixed;
  z-index: 2;
}

.logo {
  width: 200px;
  height: 70px;
  overflow: hidden;
}

#netflixLogo {
  width: 100%;
  height: 85%;
}

.wrapper_input {
  width: 650px;
  height: 100%;
  margin: auto;
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputRicerca {
  width: 350px;
  height: 60%;
  margin-top: 3%;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
}

.btn-cerca {
  width: 80px;
  height: 60%;
  display: inline-block;
}

#gen_film, #gen_serie {
  margin-left: 30px;
}

.film-wrapper {
  width: 100vw;
  min-height: 100vh;
  border: 1px solid transparent;
  overflow-y: scroll;
  background-color: /*#290000*/#1b0000;
}

.titolo {
  height: 150px;
  margin-top: 5%;
  padding: 10px 50px;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: 100px;
  color: #fff;
}

.film-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 90%;
  height: calc(100vh / 2);
  border: 1px solid transparent;
  margin: 2% 5%;
}

.preview {
  width: calc((100% / 4) - 3px);
  height: calc(100% - 8%);
  margin: 1% 0;
  border: 1px solid #000;
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  padding: 20px;
  font-family: 'Prompt', sans-serif;
  position: relative;
  z-index: 1;
}

.preview.active {
  background-color: lightgrey;
}

.lista {
  list-style: none;
  /*text-align: center;*/
}

.lista li {
  min-height: 40px;
  color: #666565;
  font-size: 16px;
}

.votazione {
  border: 1px solid #000;
  width: 100%;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
}

.flag {
  width: 50px;
  height: 50px;
}


/*.active {
  color: yellow;
}*/
