* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.inline_bl {
  display: inline-block;
}

.hidden {
  display: none;
}

.box {
  width: 100vw;
  height: 140px;
  z-index: 6;
}

/* Navigation bar principale */
.nav_bar {
  width: 100%;
  height: 70px;
  background-color: /*#AD2020*/#AE121C;
  box-shadow: 0 1px 30px red;
  border-bottom: 8px solid #5A0505;
  position: fixed;
  z-index: 5;
}

.nav_bar.change {
  border-bottom: 8px solid darkgrey;
  box-shadow: 0 0 0;
}

/* Hamburger icon che si mostra in modalità responsive */
.hamburger {
  width: 80px;
  height: 60px;
  margin-left: 2%;
  float: left;
  position: relative;
}

.hamb_icon {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.profilo {
  width: 200px;
  height: 50px;
  margin-left: 2%;
  float: left;
  position: relative;
}

.box_tools {
  width: calc((100% / 3.5) - 4px);
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.box_arrow {
  width: calc((100% / 7) - 4px);
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.logoProfilo {
  border: 1px solid transparent;
  border-radius: 6px;
}

.logoProfilo img {
  width: 100%;
  height: 100%;
}

.bell, .gift, .arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.f_size_arrow {
  font-size: 15px;
}

.menu_arrow {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50px;
  left: 20px;
  background-color: #000;
  border-radius: 5px;
}

.menu_arrow ul li {
  list-style: none;
  padding: 20px;
}

.menu_arrow a {
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
}

.logo {
  width: 200px;
  height: 70px;
  overflow: hidden;
  float: right;
  margin-right: 3%;
}

#netflixLogo {
  width: 110%;
  height: 85%;
  margin-left: -7%;
}

.wrapper_input {
  width: 450px;
  height: 100%;
  margin: auto;
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputRicerca {
  width: 350px;
  height: 50%;
  margin-top: 3%;
  text-align: left;
  font-size: 18px;
  padding: 10px;
  display: inline-block;
}

.btn-cerca {
  width: 80px;
  height: 50%;
  display: inline-block;
}

.radio-btn {
  margin-left: 30px;
}

.label {
  font-weight: bold;
  font-size: 12px;
}

/* Menu Nascosto */
.menu {
  width: 100vw;
  height: 50px;
  background-color: #5A0505;
  box-shadow: 0 5px 15px grey;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.menu ul {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.menu ul li {
  list-style: none;
  height: 100%;
  line-height: 50px;
  display: inline;
  padding: 5px 4%;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  cursor: pointer;
  transition: 0.6s;
}

.animation {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.text_anim {
  font-size: 150px;
  font-family: 'Bebas Neue', cursive;
  margin-left: 3%;
  color: red;
  opacity: 0;
  text-shadow: 10px 10px 0 #000;
}

/* Box accedi/registrati */
.login {
    width: 400px;
    height: 250px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(80,117,129,1) 0%, rgba(25,74,89,1) 100%);
}

.scelta {
  width: calc(50% - 3px);
  height: 100%;
  text-align: center;
  line-height: 40px;
  background-color: #fff;
  border-radius: 5px;
  font-family: sans-serif;
  color: grey;
}

.scelta.active {
  background-color: #194A59;
  color: #fff;
}

.credenziali {
  width: 100%;
  height: 85%;
  padding: 10% 5%;
}

.sceltaAcesso {
  width: 400px;
  height: 15%;
}

.box_label {
  width: calc(30% - 4px);
  height: 20px;
}

.box_input {
  width: 70%;
  height: 50px;
}

.credenziali_label {
  font-size: 18px;
  color: #fff;
}

.datiAccesso {
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding: 2px 5px;
}

.btn-accedi {
  width: 100%;
  height: 30px;
  border: 2px solid darkgrey;
  border-radius: 5px;
  background-color: #507581;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/* main */

/* Contenitore delle liste di film e serie */
.film-wrapper {
  width: 100vw;
  min-height: 100vh;
  border: 1px solid transparent;
  overflow-y: scroll;
  background-color: /*#290000*/#1b0000;
  position: relative;
}

.film-wrapper::after {
  content: "";
  display: table;
  clear: both;
}

/* Titolo principale */
.titolo {
  height: 150px;
  margin-top: 5%;
  padding: 10px 50px;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: 100px;
  color: #fff;
}

.row {
  width: 90%;
  height: calc(100vh / 2);
  border: 1px solid transparent;
  margin: 2% 5%;
}

/* Template contenitore film/serie */
.preview {
  width: calc((100% / 4) - 3px);
  height: calc(100% - 8%);
  margin: 1% 0;
  border: 2px solid grey;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  padding: 1% 2%;
  font-family: 'Prompt', sans-serif;
  position: relative;
  z-index: 1;
  transition: 0.4s;
}

.preview:hover .descrizione {
  display: block;
}

.preview.active {
  background-color: lightgrey;
}

.lista {
  list-style: none;
  /*text-align: center;*/
}

h3 {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

.copertina {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.copertina img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  width: 100%;
  position: absolute;
  font-size: 12px;
  left: 0;
  bottom: 2%;
  padding: 0 20px;
  overflow: hidden;
}

.flag {
  width: 25px;
  height: 15px;
  display: inline-block;
}

.descrizione {
  width: 100%;
  height: 100%;
  border: 2px solid grey;
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(135deg, rgba(96,96,96,1) 0%, rgba(184,183,183,1) 63%, rgba(240,240,240,1) 78%, rgba(88,88,88,1) 100%);
  padding: 5% 5%;
  font-size: 12px;
  font-family: 'Prompt', sans-serif;
  color: #000;
  text-align: justify;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.virgolette {
  border: 1px solid blue;
  width: 50%;
  height: 30%;
  color: #fff;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
